<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Hide Tax From Sales and Purchases </h2>
        <div class="oe_span6">
            <p class="oe_mt32">
                Hides tax related fields and menus from Sales and Purchases
            </p>
            <p>
                This hiding happens in user level. If you check this option hidden things will become visible for that user
            </p>
            <hr>
        </div>
        <div class="oe_row_img oe_centered oe_mt32">
                <img class="oe_picture oe_screenshot" src="tax_config.png"><hr>
                <img class="oe_picture oe_screenshot" src="tax_sale.png">
        </div>
    </div>
</section>

