<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">EU Cookie Law Notice</h2>
            <h3 class="oe_slogan">Allows you to elegantly inform visitors that your site uses cookies</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="img1.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
An elegant message will appear at the very top of the browser window first time visitor visits your website.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Customisable</h2>
        <h3 class="oe_slogan">Very intuitive, quick &amp; easy customisation</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
Very simple and intuitive configuration via <i>Website Admin</i> interface allows you to customise notice message and more...
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="img2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Policy</h2>
        <h3 class="oe_slogan">Optionally you may provide a link to policy</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="img3.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Create your own page explaining <i>EU Cookie Law</i> or configure <i>Policy</i> button to link to an official <i>EU Cookie Law</i> page.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Installation</h2>
            <h3 class="oe_slogan">Installs on both private and Online/SAAS/Cloud environments</h3>
        </div>
        <div class="oe_span12">
            <p class="oe_mt32">To install this module on <strong>private server</strong>, you need to:
                <ul style="list-style-type: circle;">
                    <li>Upload module to your addons folder</li>
                    <li>Restart odoo service</li>
                    <li>Upgrade modules list</li>
                    <li>Install as usual</li>
                </ul>
            </p>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">To install this module on <strong>Online/Cloud/SAAS</strong>, you need to:
                <ul style="list-style-type: circle;">
                    <li>Activate the developer mode</li>
                    <li>Install "Base import module" (technical name: base_import_module) module which adds capability to install external modules</li>
                    <li>Click on "Import Module" link in "Apps" menu</li>
                    <li>Select downloaded module archive file (.zip) and click "Import Module" button. Thats it, enjoy!</li>
                </ul>
            </p>
            <p>Check out <a style="color:blue;" target="_blank" href="https://youtu.be/rrScs14ReMg">this video</a> <span class="text-muted">(https://youtu.be/rrScs14ReMg)</span> which demonstrates the process of importing modules on Cloud/SAAS.
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <a target="_blank" href="https://youtu.be/rrScs14ReMg"><img class="oe_picture oe_screenshot" src="import.png"/></a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Drop me a line</h2>
        <h3 class="oe_slogan mb0">Let's get in touch for support or any other questions</h3>
        <h5 class="oe_slogan mt8 mb0">via <a href="mailto:nedas.zilinskas@gmail.com">nedas.zilinskas@gmail.com</a> or discussions below</h5>
        <div class="contact-form">
            <form class="form" id="nz_contact" method="post" name="contact">
                <div class="oe_row mb0 mt0">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group mb0 mt0">
                            <input class="form-control" id="nz_name" name="name" placeholder="Name" required="required" type="text">
                        </div>
                        <div class="form-group mb0 mt0">
                            <input class="form-control" id="nz_email" name="email" placeholder="Email" required="required" type="text">
                        </div>
                        <div class="form-group mb0 mt0">
                            <input class="form-control" id="nz_subject" name="subject" placeholder="Subject" required="required" type="text">
                        </div>
                        <textarea class="form-control" id="nz_message" name="message" placeholder="Message" required="required" rows="5"></textarea>
                    </div>
                </div>

                <div class="oe_row mb0 mt0">
                    <div class="col-md-8 col-md-offset-2 form-group mb0 mt0">
                        <button class="btn btn-primary pull-right oe_button oe_form_button oe_highlight" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>